Importing required libraries

In [20]:
import sys
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
import matplotlib.pyplot as plt

Importing data

In [2]:
data = pd.read_csv('training_data.txt', header=None)

In [4]:
data.head()

      0    1     2
0  2.81  220  5.62
1  7.14  220  8.00
2  2.72  220  5.44
3  3.87  220  7.74
4  1.90  220  3.80

In [5]:
data.shape

(100, 3)

Checking for missing values

In [6]:
data.isna().sum()

0    0
1    0
2    0
dtype: int64

In [9]:
X = data.iloc[:,0:2]  
Y = data.iloc[:,2]    #target values

In [10]:
reg = LinearRegression()
reg.fit(X, Y)

LinearRegression()

In [11]:
l = reg.coef_*X + reg.intercept_

In [15]:
chargingtime = float(input().strip())     
voltage = int(input())           #Voltage of the power socket

12
5

In [18]:
result = reg.predict([[chargingtime, voltage]])
 
print (round(result[0],2))

11.63

In [19]:
reg.score(X, Y)

0.6872269726243967

In [21]:
reg1 = Ridge()
reg1.fit(X, Y)
reg1.score(X, Y)

0.6872258160972713

In [22]:
reg2 = Lasso()
reg2.fit(X, Y)
reg2.score(X, Y)

0.6654415365472117

In [23]:
df = pd.DataFrame({'Methods':['Linear Regression', 'Ridge Regression', 'Lasso Regression'], 'Accuracy Score':[reg.score(X, Y), reg1.score(X, Y), reg2.score(X, Y)]})
df

             Methods  Accuracy Score
0  Linear Regression        0.687227
1   Ridge Regression        0.687226
2   Lasso Regression        0.665442

From the above tble we can conclude that linear regression has slightly better accuracy score as compared to Ridge Regression and Laasso Regression.